.card {
	p {
		background: white;
		margin: 0 0 6px 0;
		padding: 6px 50px 2px 8px;
		cursor: pointer;
	}

	&__input {
        padding-right: 100px;
	}

	&__submit {
		right: 50px;
		top: 3px;
	}

	&__delete {
		right: 5px;
		top: 3px;
	}

	&__close {
		right: 5px;
		top: 3px;
	}
}
