<div #cardRef
     draggable="true"
     (dragstart)="dragStart($event)"
     id="{{card._id}}">
    <div class="custom-loader rounded" *ngIf="loading"></div>

    <div class="card bg-light mb-2 pt-3 pb-3 pl-3"
         *ngIf="!editable"
         (click)="editCard($event)">

        {{card.description}}

        <button type="button"
                class="card__delete text-right position-absolute btn bg-danger"
                data-id="{{card._id}}"
                (click)="deleteCard(card._id)">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
    </div>

    <div class="editable">
        <textarea #editCardInput
                  [hidden]="!editable"
                  (keyup.enter)="onEnter(editCardInput.value)"
                  (click)="$event.preventDefault();"
                  class="editable__textarea pt-2 pb-2 pl-2" type="text"></textarea>

        <button *ngIf="editable"
                type="button"
                class="editable__close position-absolute btn"
                aria-label="Close"
                (click)="closeCard($event)">
            <i class="fa fa-close" aria-hidden="true"></i>
        </button>

        <button *ngIf="editable"
                type="button"
                class="editable__submit position-absolute btn bg-success"
                aria-label="Submit"
                (click)="onEnter(editCardInput.value)">
            <i *ngIf="editable" class="fa fa-check"
               aria-hidden="true"></i>
        </button>
    </div>

</div>


