.list {
	background: #e2e4e6;
	width: 100%;
	padding: 6px;
	margin: 5px;
	display: inline-block;

	a {
		width: 100%;
		display: block;
		text-decoration: none;
	}

	input {
		width: 100%;
		padding: 5px;
		border: 2px solid orange;
		outline: 0;
		background: #fff;
		box-shadow:none;
	}

	.fa-plus-circle {
		font-size: 1.5rem;
	}

	&__title {
		margin: 0;
		padding: 16px 0;
	}

}
