<div class="list rounded  position-relative" (dragover)="allowDrop($event)" (drop)="drop($event)">
    <div class="custom-loader rounded" *ngIf="loading"></div>
    <p class="list__title p-1" [attr.status]="list.status"><strong>{{list.name}}</strong></p>
    <div class="cards">
        <app-card *ngFor="let cardId of list.cards; let i=index"
                  [card]="cardId" [index]="i"
        ></app-card>
    </div>

    <input #addCardInput
           type="text"
           class="mt-2"
           placeholder="Hit enter to save"
           (keyup.enter)="onEnter(addCardInput.value); addCardInput.value = ''; displayAddCard = false;"
           *ngIf="displayAddCard" autofocus>

    <a href="#" class="list__newcard d-inline-block text-right pt-3 pr-1"
       draggable="false"
       (click)="toggleDisplayAddCard();">
        <i class="fa fa-plus-circle text-dark" aria-hidden="true"></i></a>

</div>
